h1 {
	font-family: 'Exo', sans-serif;
	font-weight: 200;
	font-size: 1.8em;
	color: rgba(255,255,255,0.3);
	text-transform: uppercase;
	letter-spacing: .25em;
	z-index: 3;
}
h2 {
	font-family: 'Exo', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	color: rgba(255,255,255,0.9);
	text-transform: uppercase;
	letter-spacing: .35em;
	margin-top:8%;
}

