.container {
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

.playing_div {
	width: 400px;
	height: 200px;
	border: solid black 2px;
}

.tracks {
	width: 300px;
	height: 400px;
	border: solid black 2px;
	}

.playing_song_div {
	height: 55%;
}

.button_images {
	padding: 0 15px;
	width: 50px;
}
.tracks {
	font-size: 14;
	text-decoration: none;
}
.playbutt {
	display: inline-block;
	padding: 15px 15px;
	width:50px;
	height:50px;
	background: url(play.svg) no-repeat center;
	background-size: cover;
}
.pausebutt {
	display: none;
	padding: 15px 15px;
	width:50px;
	height:50px;
    background: url(pause.svg) no-repeat center;
	background-size: cover;
}
.nextbutt {
	display: inline-block;
	padding: 15px 15px;
	width:50px;
	height:50px;
    background: url(next.svg) no-repeat center;
	background-size: cover;
}
.prevbutt {
	display: inline-block;
	padding: 15px 15px;
	width:50px;
	height:50px;
    background: url(next.svg) no-repeat center;
	background-size: cover;
}
.pldiv {
	width:300px;
	height:400px;
	background-color: rgb(255,113,238);
}
#songlist {
	width:300px;
	height:400px;
	background-color: rgb(42,190,255);
}


/*.play {
	width:75px;
	height:75px;
	background-image: url("play.svg");
}*/



