.tracks,audio {
	width: 600px;
	padding: 20px;
}
.active a {
	color: #56FC8C;
	text-decoration: none;
}
li a {
	color: white;
	padding: 5px;
	display: block;
	text-decoration:none;
}
li a:hover {
	text-decoration:none;
}