@import 'images';
@import 'jukebox.scss';


body {
	// background-color: black;
}

// Put everything in container and set the width to your preference.
.container {
	width: 50%;
	margin: 0 auto;
}

// Add a row first, and put columns equal to 100% into the row.
.row {
	overflow: auto;
	width: 100%;
	clear: both;
}

@each $perc in 100, 75, 50, 25 {
	.column-#{$perc} {
		width: $perc+0%;
		float: left;
		text-align: center;
	}
}

.column-12half {
	width: 12.5%;
	float: left;

}

.inline-rect {
	height: 50%;
	width: 50%;
	text-align: center;
	display: inline-block;
}

.inline-rect-full {
	height: 100%;
	width: 100%;
	text-align: center;
	display: inline-block;
}

@each $perc in 100, 75, 50, 25 {
	.image-#{$perc} {
		width: $perc+0%;
	}
}

@media all and (max-width: 900px) {
	@each $perc in 50, 25 {
		.column-#{$perc} {
			width: 2%*$perc;
			float: left;
		}
	}
	.column-75 {
		width: 100%;
	}
	.column-12half {
		width: 25%;
		float: left;
	}
	.container {
		width: 600px;
	}
}

@media all and (max-width: 600px) {
	.column-25 {
		width: 100%;
		float: left;
	}
	.column-12half {
		width: 50%;
		float: left;
	}
	.container {
		width: 350px;
	}
}

.outline {
	// outline: solid #2D643F 5px;
	box-shadow: 0 0 1pt 3pt #2D643F;
}

.h-150 {
	height: 150px;
}

.h-400 {
	height: 400px;
}

.ul-none {
	padding: 0;
	list-style: none;
}

.r-button {
	border: none;
	font-size: 1.5em;
	font-family: helvetica, serif;
	display: inline-block;
	padding: 10px;
	box-shadow: 0 3pt black;
	background-color: #2D643F;
	border-radius: 15px;
	position: relative;
	&:hover {
		cursor: pointer;
	}
	&:active {
		top: 2px;
		box-shadow: 0 3pt #2D643F;
	}
	&:focus {
		outline:0;
	}
}

.s-button {
	border: none;
	font-size: 1.5em;
	font-family: helvetica, serif;
	display: inline-block;
	padding: 10px;
	box-shadow: 0 3pt black;
	background-color: #2D643F;
	position: relative;
	&:hover {
		cursor: pointer;
	}
	&:active {
		top: 2px;
		box-shadow: 0 3pt #2D643F;
	}
	&:focus {
		outline:0;
	}
}

.c-button {
	border: none;
	font-size: 1.5em;
	font-family: helvetica, serif;
	display: inline-block;
	padding: 10px;
	box-shadow: 0 3pt black;
	background-color: #2D643F;
	border-radius: 50%;
	position: relative;
	&:hover {
		cursor: pointer;
	}
	&:active {
		top: 2px;
		box-shadow: 0 3pt #2D643F;
	}
	&:focus {
		outline:0;
	}
}













